In [1]:
# Write a Python function to calculate the factorial of a number.

def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n-1)

In [3]:
fact(4)

24

In [44]:
# Write a Python function to find the nth Fibonacci number.

def fib(a):
    if a <= 1:
        return a
    else:
        return fib(a-1) + fib(a-2)

In [45]:
fib(6)

8

In [46]:
def fibonacci(n):
    seq=[0,1]
    for i in range(2,n):
        seq.append(seq[i-1] + seq[i-2])
    return seq

In [47]:
fibonacci(7)

[0, 1, 1, 2, 3, 5, 8]

In [55]:
# Implement a function to check if a given string is a palindrome.

st=(input("Enter the word :"))

if st == st[::-1]:
    print( "It is palindrome")
else:
    print("It is not palindrome")

Enter the word :adda
It is palindrome

In [57]:
# Write a Python function to calculate the mean of a list of numbers.
import numpy as np
lst = [2,3,4,5,6,7,8,9]
np.mean(lst)

5.5

In [60]:
# or
def men(lst):
    return sum(lst)/ len(lst)

In [61]:
men([2,3,4,5,6,7,8,9])

5.5

In [62]:
sum([2,3,4,5,6,7,8,9])

44

In [63]:
len([2,3,4,5,6,7,8,9])

8

In [104]:
# Write a Python function to calculate the median of a list of numbers.

lst = [2,3,4,5,6,7,8,9]

def med(n):
    medi=0
    if len(n)%2!=0:
        x= int(len(n)/2)
        medi=n[x]
    else:
        x=int(len(n)/2)
        medi=(n[x-1]+n[x])/2
    return medi

In [105]:
med([3,4,5,6,7,8,9,3,1,6,5,4,3])

9

In [106]:
med([3,4,5,6,7,8,9,3,1,6,5,4])

8.5

In [97]:
lst = [3,4,5,6,7,8,9,3,1,6,5,4,3]
a=len(lst)/2 
a

6.5

In [130]:
# Write a Python function to calculate the mode of a list of numbers.

lst = [2,3,3,5,6,6,6,8,9]

dic={}
for i in lst:
    if i in dic:
        dic[i] = dic[i]+1
    else:
        dic[i]=1
print(dic)
print()

print(max(dic.values()))

{2: 1, 3: 2, 5: 1, 6: 3, 8: 1, 9: 1}

3

In [135]:
x= [i for i in dic if dic[i]== max(dic.values())]
print(x)

[6]

In [138]:
for i in dic:
    if dic[i]==max(dic.values()):
        print(i)

6

In [139]:
#Given a list of numbers, 
# write a function to find the maximum and minimum values without using the built-in max() and min() functions.
def fun(n):
    maximum = n[0]
    minimum = n[0]
    for i in n:
        if i>maximum:
            maximum=i
        elif minimum  >i:
            minimum = i
            
    return maximum,minimum

In [140]:
fun([2,6,4,5,99,6])

(99, 2)

In [146]:
# Implement a function to count the frequency of each word in a given text.

def cont(x):
    dt ={}
    lst=x.split()
    for i in lst:
        if i in dt:
            dt[i] +=1
        else:
            dt[i]=1
    return dt

In [147]:
cont("my name is sumit kumar and my name is sanya sumit kumar")

{'my': 2, 'name': 2, 'is': 2, 'sumit': 2, 'kumar': 2, 'and': 1, 'sanya': 1}

In [162]:
x="my name is sumit kumar and my name is sanya sumit kumar"
x.split()

['my',
 'name',
 'is',
 'sumit',
 'kumar',
 'and',
 'my',
 'name',
 'is',
 'sanya',
 'sumit',
 'kumar']

In [149]:
# Write a Python function to find the intersection of two lists.
lst = [3,4,5,6,7,8,9,3,1,6,5,4,3,88,76,54,78]
lst1 = [3,4,5,6,7,8,9,3,1,6,5,4]
print(set(lst).intersection(set(lst1)))

{1, 3, 4, 5, 6, 7, 8, 9}

In [158]:
# Implement a function to sort a list of dictionaries based on a specific key.

In [159]:
def sort_list_of_dicts(list_of_dicts, key):
    return sorted(list_of_dicts, key=lambda x: x[key])

In [160]:
data = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30},
    {'name': 'Charlie', 'age': 20}
]

sorted_data = sort_list_of_dicts(data, 'age')
print(sorted_data)

[{'name': 'Charlie', 'age': 20}, {'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [161]:
## Need to revise lambda function and list comprehension

In [163]:
def common_characters(str1, str2):
    common = set(str1) & set(str2)
    return list(common)

string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")
result = common_characters(string1, string2)
print("Common characters:", result)

Enter the first string: sumit
Enter the second string: sanya
Common characters: ['s']

In [1]:
7//2

3

In [2]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [8]:
lst=[1,2,3,4,5]

In [9]:
lst.remove(2)

In [10]:
lst

[1, 3, 4, 5]

In [15]:
y="kjsda;sdasd;asdaf;"

In [16]:
z=y.split(';')

In [17]:
z

['kjsda', 'sdasd', 'asdaf', '']

In [18]:
len(z)

4

In [19]:
x={1,2,3,4,5}

In [20]:
x.add(5)

In [21]:
x.add(6)

In [22]:
x

{1, 2, 3, 4, 5, 6}

In [27]:
import numpy as np
a= np.array([1,2,3])
b= np.array([4,5,6])

In [26]:
print(a[[False,True, False, False]])

[2]

In [28]:
c=a*b

In [29]:
d=np.dot(a,b)

In [30]:
c

array([ 4, 10, 18])

In [31]:
d

32

In [33]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [34]:
[x*2 for x in range(1,5)]

[2, 4, 6, 8]

In [35]:
x=np.array([
    [1,3],
    [2,4]
])

In [36]:
print(x.max(axis=1))

[3 4]

In [38]:
{x:x*x for x in range(1,100)}

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521,
 40: 1600,
 41: 1681,
 42: 1764,
 43: 1849,
 44: 1936,
 45: 2025,
 46: 2116,
 47: 2209,
 48: 2304,
 49: 2401,
 50: 2500,
 51: 2601,
 52: 2704,
 53: 2809,
 54: 2916,
 55: 3025,
 56: 3136,
 57: 3249,
 58: 3364,
 59: 3481,
 60: 3600,
 61: 3721,
 62: 3844,
 63: 3969,
 64: 4096,
 65: 4225,
 66: 4356,
 67: 4489,
 68: 4624,
 69: 4761,
 70: 4900,
 71: 5041,
 72: 5184,
 73: 5329,
 74: 5476,
 75: 5625,
 76: 5776,
 77: 5929,
 78: 6084,
 79: 6241,
 80: 6400,
 81: 6561,
 82: 6724,
 83: 6889,
 84: 7056,
 85: 7225,
 86: 7396,
 87: 7569,
 88: 7744,
 89: 7921,
 90: 8100,
 91: 8281,
 92: 8464,
 93: 8649,
 94: 8836,
 95: 9025,
 96: 9216,
 97: 9409,
 98: 9604,
 99: 9801}

In [40]:
x=3
print(f"The number is {x}")

The number is 3

In [41]:
def be_friendly(greet="bjhdsfjhs", name):
    pass

SyntaxError: non-default argument follows default argument (773267061.py, line 1)

In [43]:
np.sum([True,False])

1

In [44]:
x=[1,2,3]
y=[4,5,6]

In [48]:
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

In [49]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'San Francisco', 'Seattle']}

df = pd.DataFrame(data)
print(df.iloc[1, 0])  # Output: 'Bob'

Bob

In [50]:
df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22        Seattle

In [51]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'San Francisco', 'Seattle']}

df = pd.DataFrame(data)
print(df.loc[1, 'Name'])  # Output: 'Bob'

Bob